@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

/* ======================================================
   COMPONENT – BARRE DE RECHERCHE
   Champ de recherche centré
   ====================================================== */


/* ------------------------------------------------------
   CONTENEUR BARRE DE RECHERCHE
   ------------------------------------------------------ */

.search-bar {
  width: 100%;
  display: flex;
  justify-content: center;

  /* Champ de recherche */
  input {
    width: 90%;
    max-width: 400px;

    padding: 8px 14px;

    border-radius: 20px;
    border: 1px solid $color-primary;
  }
}