<html>

<head>
    <title>Utilisateur</title>
</head>

<body>
    <h1>Détail</h1>

    <a href="/utilisateurs">Retour à la liste</a>

    <p>
        {{ utilisateur.id }}
        {{ utilisateur.name }}
        {{ utilisateur.last_name }}
        {{ utilisateur.email }}
        {{ utilisateur.password }}
        {{ utilisateur.phone }}
        {{ utilisateur.address }}
        {{ utilisateur.role }}
    </p>


    <a href="/utilisateurs/{{ utilisateur.id }}/update">Modifier</a>

    <a href="/utilisateurs/{{ utilisateur.id }}/delete">Supprimer</a>

</body>

</html>