<html>

<head>
    <title>Utilisateurs</title>
</head>

<body>
    <h1>Modifier Utilisateurs</h1>

    <a href="/utilisateurs">Retour à la liste</a>

    <form method="POST" action="/utilisateurs/{{ user.id }}/update">

        <div>
            <label>Nom</label>
            <input name="nom_utilisateur" type="text" value="{{ user.first_name }}">
        </div>
        <div>
            <label>Prenom</label>
            <input name="prenom_utilisateur" type="text" value="{{ user.last_name }}">
        </div>
        <div>
            <label>Email</label>
            <input name="email_utilisateur" type="text" value="{{ user.email }}">
        </div>
        <div>
            <label>Role</label>
            <input name="role_utilisateur" type="text" value="{{ user.role }}">
        </div>

        <input type="submit" value="Sauvegarder" />

    </form>
</body>

</html>