<html>

<head>
    <title>Livre</title>
</head>

<body>
    <h1>Update</h1>
    <a href="/books">Retour à la liste</a>
    <form method="POST" action="/books/{{ book.id }}/update">
        <div>
            <label>Nom</label>
            <input name="nom" type="text" value="{{ book.name }}">
        </div>
        <div>
            <label>Nom auteur</label>
            <input name="nom_auteur" type="text" value="{{ book.author_name }}">
        </div>
        <input type="submit" value="Sauvegarder" />
    </form>
</body>

</html>