<!DOCTYPE html>
<html>

<head>
    <title>Modifier utilisateur</title>
</head>

<body>

    <h1>Modifier utilisateur</h1>

    <a href="{{ url_for('users.users') }}">Retour à la liste</a>

    <form method="POST" action="{{ url_for('users.user_update', id=user['id']) }}">

        <div>
            <label>Prénom</label>
            <input name="prenom_utilisateur" type="text" value="{{ user['first_name'] }}" required>
        </div>

        <div>
            <label>Nom</label>
            <input name="nom_utilisateur" type="text" value="{{ user['last_name'] }}" required>
        </div>

        <div>
            <label>Email</label>
            <input name="email_utilisateur" type="email" value="{{ user['email'] }}" required>
        </div>

        <div>
            <label>Rôle</label>
            <select name="role_utilisateur">
                <option value="user" {% if user['role']=='user' %}selected{% endif %}>
                    User
                </option>
                <option value="admin" {% if user['role']=='admin' %}selected{% endif %}>
                    Admin
                </option>
            </select>
        </div>

        <input type="submit" value="Sauvegarder" />

    </form>

</body>

</html>