{% extends "base.html" %}

{% block title %}Catalogue{% endblock %}

{% block content %}

<!-- BANNIÈRE -->
<section class="banner">
  <img src="{{ url_for('static', filename='Image/Naruto-Sasuke.jpg') }}" alt="Bannière promotion">
</section>

<main class="catalogue-page">

  <!-- INTRO -->
  <section class="content">
    <h1 class="page-title">📖 Catalogue</h1>
    <p class="intro-1">
      Bienvenue dans notre catalogue. Découvrez nos mangas disponibles,
      des classiques incontournables aux nouveautés les plus récentes.
      Votre prochain coup de cœur vous attend.
    </p>
  </section>

  <!-- FILTRES -->
  <section class="filters">
    <aside class="filters">
      <button>Trier par Types</button>
      <button>Trier par Langues</button>
      <button>Trier par Genres</button>
    </aside>

    <section class="catalogue-content">
      <div class="catalogue-search">
        <div class="search-bar1">
          <input type="text" placeholder="🔍 Rechercher un manga">
        </div>
        <div class="catalogue-search-buttons">
          <button>Trier</button>
          <button>Aléatoire</button>
        </div>
      </div>
    </section>
  </section>

  <!-- LISTE PRODUITS DYNAMIQUE -->
  <div class="product-grid" data-product-grid>

    {% for manga in mangas %}
    <div class="product-card" data-product-card>
      <div class="card" data-card>
        <img src="{{ url_for('static', filename=manga.image) }}" alt="{{ manga.name }}" data-card-img>

        <div class="card-info" data-card-info>
          <h3 class="text" data-title-text>
            {{ manga.name }}<br>
            <span class="subtitle">
              {{ manga.subtitle }}
            </span>
          </h3>

          <p class="price" data-price>
            {{ "%.2f"|format(manga.price) }} €
          </p>

          <button class="add-to-cart-btn" data-title="{{ manga.name }}" data-price="{{ manga.price }}"
            data-img="{{ url_for('static', filename=manga.image) }}">
            🛒 Ajouter au panier
          </button>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>

</main>

{% endblock %}