{% extends "base.html" %}

{% block title %}Catalogue{% endblock %}

{% block content %}

<!-- BANNIÈRE -->
<section class="banner">
  <img src="{{ url_for('static', filename='image/Naruto-Sasuke.jpg') }}" alt="Bannière promotion">
</section>

<main class="catalogue-page">

  <!-- INTRO -->
  <section class="content">
    <h1 class="page-title">📖 Catalogue</h1>
    <p class="intro-1">
      Bienvenue dans notre catalogue. Découvrez nos mangas disponibles,
      des classiques incontournables aux nouveautés les plus récentes.
      Votre prochain coup de cœur vous attend.
    </p>
  </section>

  <!-- FILTRES -->
  <section class="filters">
    <aside class="filters-buttons">
      <form method="get"><button name="sort" value="name_asc">Nom (A → Z)</button></form>
      <form method="get"><button name="sort" value="price_asc">Prix croissant</button></form>
      <form method="get"><button name="sort" value="date_desc">Plus récent</button></form>
    </aside>

    <div class="random-button">
      <form method="get"><button name="sort" value="random">Aléatoire</button></form>
    </div>
  </section>

  <!-- LISTE PRODUITS DYNAMIQUE -->
  <div class="product-grid" data-product-grid>

    {% for manga in mangas %}
    <div class="product-card" data-product-card>
      <div class="card" data-card>

        <!-- COEUR FAVORI -->
        <button class="favorite-btn 
        {% if manga.id|string in favorites %}is-favorite{% endif %}" data-article-id="{{ manga.id }}">
          ❤
        </button>

        <a href="{{ url_for('public.article_detail', article_id=manga['id']) }}">
          <img src="{{ url_for('static', filename=manga['image']) }}" alt="{{ manga['name'] }}">
        </a>

        <div class="card-info" data-card-info>
          <h3 class="text" data-title-text>
            {{ manga.name }}<br>
            <span class="subtitle">
              {{ manga.subtitle }}
            </span>
          </h3>

          <p class="price" data-price>
            {{ "%.2f"|format(manga.price) }} €
          </p>

          <button class="add-to-cart-btn" data-title="{{ manga.name }}" data-price="{{ manga.price }}"
            data-img="{{ url_for('static', filename=manga.image) }}">
            🛒 Ajouter au panier
          </button>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>

</main>

{% endblock %}