{% extends "base.html" %}

{% block title %}Panier{% endblock %}

{% block content %}

<!-- BANNIÈRE -->
<section class="banner">
  <img src="{{ url_for('static', filename='image/son_goku_ultra_instinct.jpg') }}" alt="Mise en avant catalogue" />
</section>

<!-- CONTENU PRINCIPAL -->
<main class="home-page">

  <!-- Titre principal -->
  <section class="content">
    <h1>🛒 Panier</h1>
    <p class="intro-1">
      Bienvenue dans votre panier, l’étape finale avant de concrétiser vos choix.
      Ici, vous retrouvez l’ensemble des articles que vous avez sélectionnés, prêts à être commandés.

      Cette page vous permet de vérifier votre sélection, d’ajuster les quantités et de vous assurer que tout
      correspond à vos envies avant de finaliser votre achat. Tout est pensé pour vous offrir une expérience simple,
      fluide et sécurisée.

      Prenez un dernier moment pour valider votre panier en toute sérénité, puis passez à l’étape suivante.
    </p>
  </section>

  <!-- PANIER DYNAMIQUE (page panier) -->
  <div class="panier" id="cartPageContent">
    <!-- Le contenu du panier est injecté ici par le JS -->
  </div>

  <!-- Bouton Commander -->
  <div class="btn-container">
    <button class="btn-commander" type="button" onclick="quickCheckout()">
      Commander
    </button>
  </div>

  </section>

  {% endblock %}