{% extends "base.html" %}

{% block title %}Planning{% endblock %}

{% block content %}

<section class="banner">
  <img src="{{ url_for('static', filename='Image/Black-Asta.jpg') }}" alt="Planning Manga">
</section>

<main class="planning-page">

  <section class="content">
    <h1 class="page-title">🗓 Planning</h1>
    <p class="intro-1">
      Bienvenue sur la page Planning...
    </p>
  </section>

  {% for day in planning %}
  <section class="content">
    <h2>🗓 {{ day.name }}</h2>

    <div class="scroll-container">
      <button class="scroll-btn left">⬅</button>

      <div class="card-list">
        {% for manga in day.mangas %}
        <div class="card">

          <!-- COEUR FAVORI -->
          <button class="favorite-btn 
        {% if manga.id|string in favorites %}is-favorite{% endif %}" data-article-id="{{ manga.id }}">
            ❤
          </button>

          <img src="{{ url_for('static', filename=manga.image) }}" alt="{{ manga.title }}">

          <div class="card-info">
            <h3 class="text">{{ manga.name }}</h3>
            <p class="price">{{ manga.price }} €</p>

            <button class="add-to-cart-btn" data-title="{{ manga.title }}" data-price="{{ manga.price }}"
              data-img="{{ url_for('static', filename=manga.image) }}">
              🛒 Ajouter au panier
            </button>
          </div>
        </div>
        {% endfor %}
      </div>

      <button class="scroll-btn right">➡</button>
    </div>
  </section>
  {% endfor %}

</main>

{% endblock %}